<!--<form accept-charset="UTF-8" action="/users" method="post">
  <label for="username">Username:</label>
  <input id="username"  name="username" type="text"><br>

  <label for="email">e-mail:</label>
  <input id="email" name="email" type="text"><br>

  <label for="password">Password:</label>
  <input id="password" name="password" type="password"><br>

  <input type="submit" value="Submit">
</form>-->


<!--
<form accept-charset="UTF-8" action="/users" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="username">Username:</label>
  <input id="username"  name="user[username]" type="text"><br>
  <label for="email">e-mail:</label>
  <input id="email" name="user[email]" type="text"><br>
<label for="password">Password:</label>
  <input id="password" name="user[password]" type="password"><br>

  <input type="submit" value="Submit">
</form>

-->

<%= form_for @user do |u| %>
  <%= u.label :username %>
  <%= u.text_field :username, :value => "superman" %> <br>
  <%= u.label :email, "Your E-Mail" %>
  <%= u.text_field :email, :placeholder => "your@email.com"  %> <br>
  <%= u.label :password %>
  <%= u.text_field :password, :type => "password" %> <br>
  <%= u.submit "Create"%>
<% end %>
